h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 30px;
  }

  label {
    font-size: 30px;
    width: 30px;
  }

  button {
    font-size: 20px;
  }

  .headerCenter{
    text-align: center;
    border: 3px solid burlywood;
  }

  .txtCenter{
    text-align: center;
  }

  .buttonCenter{
    display: block;
    margin: 0 auto;
}